.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 150px;
}

.input-wrapper {
  display: flex;
  gap: 30px;
}

input,
textarea {
  outline: none;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 8px;
}

input:focus {
   border: 1px solid rgb(41, 88, 16); 
   background-color: rgba(154, 228, 115, 0.442);
}

textarea {
    min-width: 250px;
    min-height: 100px;
}
